<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="home.js"></script>
  <link rel="shortct icon" href="./images/ict.ico" />
  <title >index</title>
</head>
<body class="clb">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="#"><img src="images/ict.ico" class="navc_img"> ICT Academy of Kerala</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item active" >
      <a class="nav-link" href="about.html">About</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="service.html">Service</a>
      </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <form class="form-inline" action="/action_page.php">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
    </ul>
  <br>
</div>
</nav>

<div class="container-fluid">
  <div class="row indxbck">
    <div  data-spy="scroll" class="table-responsive container-fluid col-md-2 ">
        <table>
          <tr>
            <td><h2 class="display-5 sec1_hed">Training<br>Programs</h2></td>
        </tr>
        <tr>
          <td>
            <figure class="figure">
              <img src="images/moodle2.png" class="figure-img img-fluid rounded mx-auto d-block" alt="moodle">
              <figcaption class="figure-caption text-center"><h4 class="disp-5">Moodle</h4></figcaption>
            </figure>
          </td>
        </tr>

        <tr>
          <td>
            <figure class="figure">
               <img src="images/js.jpg" class="figure-img img-fluid rounded mx-auto d-block" alt="it">
               <figcaption class="figure-caption text-center"><h3 class="disp-5">IT Training Progrm</h3></figcaption> 
            </figure>
          </td>
        </tr>

        <tr>
          <td>
            <figure class="figure">
              <img src="images/R programming.png" class="figure-img img-fluid rounded mx-auto d-block" alt="R">
              <figcaption class="figure-caption text-center"><h3 class="disp-5">R Programing</h3></figcaption>
            </figure>
          </td>
        </tr>

        <tr>
          <td>
            <figure class="figure">
              <img src="images/digital.png" class="figure-img img-fluid rounded mx-auto d-block" alt="bc">
              <figcaption class="figure-caption text-center"><h3 class="disp-5">Digital Marketing</h3></figcaption>
            </figure>
          </td>
        </tr>
        </table>
      </div>
    
  <div  data-spy="scroll" class="table-responsive container-fluid col-md-8">
      <h4 class="display-4 sec2hed">Top Events at Calicut</h4>
      <br>
  <div class="slideshow-container">

     <div class="mySlides fade">
        <img src="images/employes.jpg" class="rounded" alt="Cinque Terre" width="850" height="550">
        <br>
        <br>
        <h1 class="txt sec2txt2">Block Chain Training Program</h1>
        <h1 class="txt sec2txt2">@ Calicut</h1>
     </div>

     <div class="mySlides fade">
        <img src="images/employees2.jpg" class="rounded" alt="Cinque Terre" width="850" height="550">
        <br>
        <br>
        <h1 class="txt sec2txt2">IT Training Program</h1>
        <h1 class="txt sec2txt2" >@ Calicut</h1>
     </div>

     <div class="mySlides fade">
        <img src="images/newimg.png" class="rounded" alt="Cinque Terre" width="850" height="556">
        <br>
        <br>
        <h1 class="txt sec2txt2">Faculty Development Program</h1>
        <h1 class="txt sec2txt2">@ Calicut</h1><br>
     </div>

        <br><br><br>
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>
      <script>
      var slideIndex = 0;
      showSlides();
      </script>
      <br><br>
  </div>
  </div>

  <div data-spy="scroll" class="table-responsive container-fluid col-md-2">
     <table>
       <tr>
         <td><h2 class="display-5 sec1_hed">Training<br>Programs</h2></td>
       </tr>

       <tr>
         <td>
           <figure class="figure">
            <img src="images/Faculty.jpg" class="figure-img img-fluid rounded mx-auto d-block" alt="fc">
              <figcaption class="figure-caption text-center"><h3 class="disp-5">Faculty Development Program</h3></figcaption>
           </figure>
         </td>
       </tr>
    
       <tr>
         <td>
           <figure class="figure">
             <img src="images/data science.jpg" class="figure-img img-fluid rounded mx-auto d-block" alt="data">
             <figcaption class="figure-caption text-center"><h3 class="disp-5">Data Science & Analitics</h3></figcaption> 
           </figure>
         </td>
       </tr>
    
       <tr>
         <td>
           <figure class="figure">
            <img src="images/bc.jpg" class="figure-img img-fluid rounded mx-auto d-block" alt="bc">
            <figcaption class="figure-caption text-center"><h3 class="disp-5">Block Chain</h3></figcaption>
           </figure>
         </td>
       </tr>

       <tr>
         <td>
           <figure class="figure">
            <img src="images/dc.png" class="figure-img img-fluid rounded mx-auto d-block" alt="bc">
            <figcaption class="figure-caption text-center"><h3 class="disp-5">Soft Skill Training</h3></figcaption>
           </figure>
         </td>
       </tr>
    </table>
  </div>
</div>

  <div class="footer">
    <div class="row ">
    <div class="col-md-6 foot">
    <br>
      <br>
      <h4><img src="images/ict.ico" style="max-width: 30px;">ICT Academy of Kerala</h4></a>
      <p >ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India, partnered by Govt. of Kerala and the ICT industry.</p>
      <br>
      <a href="https://www.facebook.com/ictkerala"><i class="fa fa-facebook-official" style="font-size:25px;"></i></a>
      &nbsp;&nbsp;
      <a href="https://www.instagram.com/ict_kerala/"><i class="fa fa-instagram" style="font-size:25px;"></i></a>
      &nbsp;&nbsp;
      <a href="https://www.twitter.com/ictkerala"><i class="fa fa-twitter" style="font-size:25px;"></i></a>
      &nbsp;&nbsp;
      <a href="https://plus.google.com/104561462705332107836/posts"><i class="fa fa-google-plus" style="font-size:25px;"></i></a>
      &nbsp;&nbsp;
      <a href="https://in.linkedin.com/pub/ict-academy-of-kerala/9a/281/3b7"><i class="fa fa-linkedin" style="font-size:25px;"></i></a>
      &nbsp;&nbsp;
      <a href="https://www.youtube.com/user/ictkerala"><i class="fa fa-youtube" style="font-size:25px;"></i></a>
      <br>
  </div>

  <div class="col-md-6  foot" ><br>
    <div class="footer-widget contact-widget">

      <br>
      <h4>Contact Us..</h4>
      <ul class="contact">
          <li><i class="fa fa-map-marker"></i> <span>ICT Academy of Kerala<br>2nd Floor,UL Cyberpark Building,.<br> Nellikode, Kozhikode, Kerala-676 307 , India.</span></li>
          <li><i class="fa fa-phone"></i> <span>+91-495-2356716</span></li>
          <li><i class="fa fa-envelope-o"></i> <span><a href="mailto:info@ictkerala.org">info@ictkerala.org</a></span></li>
        </ul>
     
        <br>
    <h6>copyright 2019 @ ICT Academy of Kerala. All Rights Reserved.</h6>
 
    </div>
  </div>
 </div>
</div>
</body>
</html>