<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">  
  <script src="form.js"></script>
  <link rel="shortct icon" href="./images/ict.ico" />
<title>Registration</title>
</head>
<body class="clc">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#"><img src="images/ict.ico" class="navc_img"> ICT Academy of Kerala</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="service.html">Service</a>
        </li>
      </ul>
       <ul class="navbar-nav ml-auto">
             <form class="form-inline" action="/action_page.php">
               <input class="form-control mr-sm-2" type="text" placeholder="Search">
             <button class="btn btn-success" type="submit">Search</button>
         </form>
        </ul>
         <br>
    </div>
    </nav>
    
    <div class="container-fluid">
    <div class="row servcbck">
     <div class="col-md-1" style="background-color:white;">
    </div>
    <div  data-spy="scroll" class="table-responsive container-fluid col-md-5 servad">
       <form action="#" name="abcd">
          <h1>Registration</h1>
          <br>
    <div class="line">
      <label for="firstname">First name</label>
      <input type="text" id="i_firstname"/> 
    </div>
    <div class="line"><label for="lastname">Last name</label>
      <input type="text" id="i_lastname"/> 
    </div>
    <div class="line"><label for="address">Address</label>
      <input type="text" id="i_address" />
    </div>
    <div class="line"><label for="sex">Sex</label>
      <input type="radio" id="container"  onblur="myFunction()">M
      <input type="radio" id="container" >F
      <input type="radio" id="container" >T
    </div>
    <div class="line"><label for="qualification">Qualification</label>
      <input type="text" id="qualification" />
    </div>  
    <div class="line"><label for="district">District</label>
       <select id="i_sel">
         <option value="1">please select the district</option>
         <option value="2">Kasargode</option>
         <option value="3">Kannur</option>
         <option value="4">Kozhikode</option>
         <option value="5">Wayanad</option>
         <option value="6">Malappuram</option>
         <option value="7">Palakkad</option>
         <option value="8">Trissur</option>
         <option value="9">Pathanamthitta</option>
         <option value="10">Kollam</option>
         <option value="11">Kottayam</option>
         <option value="12">Alappuzha</option>
         <option value="13">Idukki</option>
         <option value="14">Eranamkulam</option>
         <option value="15">Trivandrum</option>
      </select>
    </div>
    <div class="line"><label for="place">Place</label>
      <input type="text" id="place" >
    </div>
    <div class="line"><label for="username">User name</label>
      <input type="text" id="username" >
    </div>
    <div class="line"><label for="email">Email</label>
      <input type="text" id="email" >
    </div>
    <div class="line"><label for="password">Password</label>
      <input type="password" id="password" >
    </div> 
    <div class="line"><label for="confirm password">Confirm Password</label>
      <input type="password" id="confirmpassword">
    </div>
    <div class="line"><label for="mobile no">MobileNo</label>
      <input type="text" id="mobile">
    </div>
    <button type="submit" class="registerbtn" onclick="validate_fun()" value="submit">Submit</button>
        <br>
        <br>
        <div class="container-fluid signin">
        <p>Already have an account? <a href="#">Sign in</a></p>
        </div>
    </div>     
    </form>
    <div data-spy="scroll" class="table-responsive container-fluid col-md-5 servad">
      <br>
      <img src="images/0.jpeg" class="float-left" alt="imgG" width="500" height="500">
    </div>
    <div class="col-md-1" style="background-color:white;">
    </div>
    </div>
    
  
<div class="footer">
  <div class="row">
    <div class="col-md-6 foot" >
       <br>
       <h4><img src="images/ict.ico" style="max-width: 30px;">ICT Academy of Kerala</h4></a>
       <p >ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India, partnered by Govt. of Kerala and the ICT industry.</p>
       <br>
       <a href="https://www.facebook.com/ictkerala"><i class="fa fa-facebook-official" style="font-size:25px;"></i></a>
       &nbsp;&nbsp;
       <a href="https://www.instagram.com/ict_kerala/"><i class="fa fa-instagram" style="font-size:25px;"></i></a>
       &nbsp;&nbsp;
       <a href="https://www.twitter.com/ictkerala"><i class="fa fa-twitter" style="font-size:25px;"></i></a>
       &nbsp;&nbsp;
       <a href="https://plus.google.com/104561462705332107836/posts"><i class="fa fa-google-plus" style="font-size:25px;"></i></a>
       &nbsp;&nbsp;
       <a href="https://in.linkedin.com/pub/ict-academy-of-kerala/9a/281/3b7"><i class="fa fa-linkedin" style="font-size:25px;"></i></a>
       &nbsp;&nbsp;
      <a href="https://www.youtube.com/user/ictkerala"><i class="fa fa-youtube" style="font-size:25px;"></i></a>
      <br>
    </div>
    <div class="col-md-6 foot">
    <div class="footer-widget contact-widget">
         <br>
         <h4>Contact Us..</h4>
        <ul class="contact">
            <li><i class="fa fa-map-marker"></i> <span>ICT Academy of Kerala<br>2nd Floor,UL Cyberpark Building,.<br> Nellikode, Kozhikode, Kerala-676 307 , India.</span></li>
            <li><i class="fa fa-phone"></i> <span>+91-495-2356716</span></li>
            <li><i class="fa fa-envelope-o"></i> <span><a href="mailto:info@ictkerala.org">info@ictkerala.org</a></span></li>
        </ul>
         <br>
         <h6>copyright 2019 @ ICT Academy of Kerala. All Rights Reserved.</h6>
    </div>
    </div>
 </div>
 </div>
</body>
</html>   





                
                   