

<div class="container">
  <form (ngSubmit)="AddProduct()" action="/action_page.php">

    <div class="form-group">
      <label for="prodctid">Product Id:</label>
      <input type="number" class="form-control" name="p_Id" [(ngModel)]="productItem.productId"/>
    </div>

    <div class="form-group">
        <label for="prodctname">Product Name:</label>
        <input type="text" class="form-control" name="p_name" [(ngModel)]="productItem.productName"/>
      </div>
      <div class="form-group">
          <label for="productcode">Product Code:</label>
          <input type="text" class="form-control" name="p_code" [(ngModel)]="productItem.productCode"/>
        </div>

        <div class="form-group">
          <label for="produrelease">Release Date:</label>
          <input type="text" class="form-control" name="p_Rdate" [(ngModel)]="productItem.releaseDate"/>
        </div>
    
        <div class="form-group">
          <label for="productdescription">Description:</label>
          <input type="text" class="form-control" name="p_description" [(ngModel)]="productItem.description"/>
        </div>

    <div class="form-group">
      <label for="Price">Price:</label>
      <input type="number" class="form-control" name="p_price" [(ngModel)]="productItem.price"/>
    </div>

    <div class="form-group">
      <label for="star_rating">StarRating:</label>
      <input type="number" class="form-control" name="p_rate" [(ngModel)]="productItem.starRating"/>
    </div>

    <div class="form-group">
      <label for="productimage">ImageUrl:</label>
      <input type="text" class="form-control" name="p_image" [(ngModel)]="productItem.imageUrl"/>
    </div>
       

    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

